.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml



http://internetka.in.ua/selenium-driver-aler/


https://www.selenium.dev/documentation/en/

https://qna.habr.com/q/223376


WebDriverWait wait = new WebDriverWait(wd, Duration.ofSeconds(10));
  Alert alert = (new WebDriverWait(wd, 10))
          .until(ExpectedConditions.alertIsPresent());
  public void acceptAlert(){
    alert = wd.switchTo().alert();
    alert.accept();}
	
	
	WebElement firstResult = wait.until(presenceOfElementLocated(By.cssSelector("div.msgbox")));
	
	
	wd.manage().timeouts().implicitlyWait(3, TimeUnit.SECONDS);
	
	
	
WebElement msgbox = wd.findElement(By.cssSelector("div.msgbox"));


Thread.sleep(2000);

wd.findElement(By.cssSelector("div.msgbox")).wait();

Alert alert = wd.switchTo().alert();
    alert.accept();
	
	
private WebDriver wd;


protected final ApplicationManager app = new ApplicationManager();


// https://mvnrepository.com/artifact/org.slf4j/slf4j-simple
    testCompile group: 'org.slf4j', name: 'slf4j-simple', version: '1.6.2'	
	
	FirefoxDriver wd;
	
	FirefoxDriver wd;
	
	/html/body/div/div[4]/form[1]/input[1]
	
	
	
	
	
	
	